#container{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    background-color: hsl(44, 67%, 90%);
    padding: 20px 0px 60px 0;
    margin: 0px 50px;
    min-width: 500px;
}

button{
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    background-color: hsl(271, 37%, 66%);
    padding: 6px 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: hsl(271, 29%, 71%);
}

button:active{
    background-color: hsl(271, 44%, 86%);
}

input{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    width: 150px;
    margin-bottom: 20px;
}
#diceImg img{
    width: 150px;
    margin: 5px;
}